body{
    margin:0;
    font-family:'Cormorant Garamond', serif;
}

.pattern{
    min-height:100vh;

    background-image:url('assets/pattern.png');
    background-repeat:repeat;

    position:relative;
}

.flowers{
    position:absolute;
    width:100%;
    top:0;
    left:0;
}

.card{

    width:90%;
    max-width:700px;

    margin:auto;
    padding-top:100px;

    background-image:url('assets/window.png');
    background-size:100% 100%;
    background-repeat:no-repeat;

    min-height:1000px;

    position:relative;
}

.content{
    text-align:center;
    color:#f3e0c0;

    padding:150px 60px;
}

h1{
    font-size:60px;
    font-weight:400;
}